@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Indie+Flower&display=swap");

* {
  font-family: "Play", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("./img.png");
}

.mainheader {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-size: 50px;
  font-family: "Indie Flower", sans-serif;
  color: rgb(43, 11, 11);
}

.content {
  width: 600px;
  height: auto;
  min-height: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  background: #ecfff9ad;
  border: 4px solid rgb(147, 183, 207);
  border-radius: 15px;
  transition: 0.3s;
}

.content:hover {
  border: 4px solid rgb(111, 162, 228);
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.329);
}

#input {
  height: 45px;
  width: 520px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 10px;
  padding-left: 10px;
  border: 2px solid rgb(175, 175, 175);
  font-size: 20px;
}

#add-button {
  margin-top: 10px;
  border-radius: 10px;
  height: 45px;
  width: 45px;
  background: rgb(227, 255, 185);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-button:hover {
  background: rgb(165, 247, 98);
}

.input-part {
  display: flex;
}

#task-list {
  align-items: center;
  width: 400px;
  margin: 20px 10px 30px 10px;
  padding-left: 0;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 560px;
  border-bottom: 2px solid rgb(37 37 37);
  word-break: break-all;
  transition: 0.2s;
}

.task-item:hover {
  background: rgb(181 228 238 / 42%);
  box-shadow: 2px 2px 3px 0 rgb(98 98 98 / 51%);
  border-radius: 5px;
}

.remove-task {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: white;
  color: black;
  border: 1px solid grey;
}

.remove-task:hover {
  background: rgb(255, 16, 16);
  color: white;
  border: 0;
}

.task-text {
  margin: 0 10px 0 10px;
  font-size: 20px;
}

.themes {
  width: fit-content;
  margin: auto;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(217, 231, 243);
  padding: 2px 5px;
  opacity: 0.5;
  transition: 0.3s;
}

.themes:hover {
  opacity: 1;
  box-shadow: 2px 2px 3px 0 rgb(141, 141, 141);;
}

.theme-btn {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

#red-theme {
  background: red;
}

#dark-theme {
  background: rgb(53 21 195);
}

#default {
  background: greenyellow;
}