@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Indie+Flower&display=swap');

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    background: rgb(186, 204, 203);
}

.mainheader {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Indie Flower', sans-serif;
    color: rgb(69, 69, 73);
}

.content {
    width: 500px;
    height: 600px;
    /* display: flex; */
    margin: auto;
    margin-top: 20px;
    background: whitesmoke;
    border: 4px solid rgb(147, 183, 207);
    border-radius: 15px;
    transition: 0.3s;
}

.content:hover {
    border: 4px solid rgb(111, 162, 228);
    background-color: rgb(223, 236, 245);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.329);
}

#input {
    height: 40px;
    width: 420px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid rgb(175, 175, 175);
    font-size: 20px;
}

#add-button {
    margin-top: 10px;
    border-radius: 10px;
    height: 45px;
    width: 45px;
    background: rgb(219, 243, 184);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-part {
    display: flex;
}

#task-list {
    align-items: center;
    margin-top: 20px;
    width: 400px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
}

.task-item {
    display: flex;
}

.done {
    width: 18px;
    height: 18px;
}

.remove-task {
    width: 23px;
    height: 23px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-text {
    margin: 0 10px 0 10px;
}